{% extends "base.html.twig" %}

{% block heading %}
    Country Details
{% endblock %}

{% block subHeading %}
    Edit Country
{% endblock %}


{% block body %}

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <input class="btn btn-sm btn-success" type="submit" value="Update" />
    <a class="btn btn-sm btn-default" href="{{ path('country_index') }}">Back to the list</a>
    {{ form_end(edit_form) }}
{% endblock %}
