{% extends "base.html.twig" %}

{% block heading %}
    Country Details
{% endblock %}

{% block subHeading %}
    List of Countries
{% endblock %}


{% block body %}
    <table class="table table-striped table-hovered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Code</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for country in countries %}
                <tr>
                    <td>{{ country.name }}</td>
                    <td>{{ country.code }}</td>
                    <td>
                        <a class="btn btn-sm btn-primary" href="{{ path('country_edit', { 'id': country.id }) }}">Edit</a>
                        <a class="btn btn-sm btn-warning" href="{{ path('country_delete', { 'id': country.id }) }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-sm btn-success" href="{{ path('country_new') }}">Create a New Country</a>
{% endblock %}
