{% extends "base.html.twig" %}

{% block heading %}
    Queries
{% endblock %}

{% block subHeading %}
    find, findOneBy, findBy, findAll
{% endblock %}


{% block body %}

    <div>
        find query
    </div>
    <p>
        $em = $this->getDoctrine()->getManager();
    </p>
    <div>
        <pre>
        1.  $find = $em->getRepository('EmployeeBundle:Country')->find(1);

        </pre>
        Result is : {{ dump(find) }}
    </div>

    <div>
        <pre>
        2.  $findOneBy = $em->getRepository('EmployeeBundle:Country')->findOneBy(['code' => 'IN']);

        </pre>
        Result of findOneBy will be a single object : {{ dump(findOneBy) }}
    </div>

    <div>
        <pre>
        3.  $findBy = $em->getRepository('EmployeeBundle:State')->findBy(['country' => $findOneBy]);

        </pre>
        Result of findBy will be an array of objects : {{ dump(findBy) }}
    </div>

    <div>
        <pre>
        4.  $findAll = $em->getRepository('EmployeeBundle:Country')->findAll();

        </pre>
        Result of findAll is an array of objects: {{ dump(findAll) }}
    </div>

{% endblock %}
