{% extends "base.html.twig" %}

{% block heading %}
    Query
{% endblock %}

{% block subHeading %}
    createQueryBuilder
{% endblock %}


{% block body %}

    <div >
        createQueryBuilder Method:
    </div>

    <div>
        <pre>
            $name = 'I';
            $query = $this->createQueryBuilder('c')
                ->where('c.name LIKE :name')
                ->setParameter('name', '%' . $name . '%')
                ->getQuery()
            ;
            $result = $query->getResult();
            return $result;
        </pre>
        
        Result is : {{ dump(result) }}
    </div>

{% endblock %}

