{% extends "base.html.twig" %}

{% block heading %}
    State Details
{% endblock %}

{% block subHeading %}
    Edit State
{% endblock %}


{% block body %}

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <input class="btn btn-sm btn-success" type="submit" value="Update" />
    <a  class="btn btn-sm btn-default" href="{{ path('customer_index') }}">Back to the list</a>
    {{ form_end(edit_form) }}

{% endblock %}

{% block js %}

    <script>
        $('#{{ edit_form.country.vars.id }}').on('change', function () {
            var form = $(this).closest('form');
            var data = $(form).serialize();
            var url = $(form).attr('action');
            var stateField = '{{ edit_form.state.vars.id }}';
            $.ajax({
                type: 'POST',
                url: url,
                data: data,
                success: function (data) {
                    $('#' + stateField).replaceWith(
                            $(data).find('#' + stateField)
                            );
                },
                error: function (data) {
                    alert('error');
                }
            });
        });
    </script>
{% endblock %}