{% extends "base.html.twig" %}

{% block heading %}
    Customer Details
{% endblock %}

{% block subHeading %}
    List of Customer
{% endblock %}


{% block body %}
    <table class="table table-striped table-hovered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Country</th>
                <th>State</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
                <tr>
                    <td>{{ customer.name }}</td>
                    <td>{{ customer.country.name }}</td>
                    <td>{{ customer.state.name }}</td>
                    <td>
                        <a class="btn btn-sm btn-primary" href="{{ path('customer_edit', { 'id': customer.id }) }}">Edit</a>
                        <a class="btn btn-sm btn-warning" href="{{ path('customer_delete', { 'id': customer.id }) }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-sm btn-success" href="{{ path('customer_new') }}">Create a New Customer</a>
{% endblock %}