{% extends "base.html.twig" %}

{% block heading %}
    Customer Details
{% endblock %}

{% block subHeading %}
    Create New Customer
{% endblock %}


{% block body %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input class="btn btn-sm btn-success" type="submit" value="Create" />
    <a class="btn btn-sm btn-default" href="{{ path('customer_index') }}">Back to the list</a>
    {{ form_end(form) }}
{% endblock %}

{% block js %}

    <script>
        $('#{{ form.country.vars.id }}').on('change', function () {
            var form = $(this).closest('form');
            var data = $(form).serialize();
            var url = $(form).attr('action');
            var stateField = '{{ form.state.vars.id }}';
            $.ajax({
                type: 'POST',
                url: url,
                data: data,
                success: function (data) {
                    $('#' + stateField).replaceWith(
                            $(data).find('#' + stateField)
                            );
                },
                error: function (data) {
                    alert('error');
                }
            });
        });
    </script>
{% endblock %}
