{% extends "base.html.twig" %}

{% block heading %}
    Department Details
{% endblock %}

{% block subHeading %}
    List of Department
{% endblock %}


{% block body %}
    <table class="table table-striped table-hovered">
        <thead class="colored-table">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for department in departments %}
                <tr>
                    <td>{{ department.name }}</td>
                    <td>{{ department.description }}</td>
                    <td>
                        <a class="btn btn-sm btn-primary" href="{{ path('department_edit', { 'id': department.id }) }}">Edit</a>
                        <a class="btn btn-sm btn-warning" href="{{ path('department_delete', { 'id': department.id }) }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-sm btn-success" href="{{ path('department_new') }}">Create a New Department</a>
{% endblock %}
