<!DOCTYPE html>
<html>
    <title>Symfony Training</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{{ asset('bundles/employee/jquery/jquery.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('bundles/employee/style.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/employee/w3.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/employee/bootstrap/css/bootstrap.min.css') }}">
    <style>
        body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
    </style>
    <body class="w3-light-grey">
        <div class="w3-content" style="max-width:1400px">
            <header class="w3-container w3-center w3-padding-32"> 
                <h1>
                    <b>
                        {% block heading %}
                        {% endblock %}
                    </b>
                </h1>
                <h5>
                    {% block subHeading %}
                    {% endblock %}
                </h5>
            </header>
            <div class="w3-row">
                <div class="w12-col l8 s12">
                    <div class="w3-card-4 w3-margin w3-white">
                        <div class="w3-container" style="padding: 10px;">
                            <a class="btn btn-sm btn-info pull-right" href="{{ path('homepage') }}">Menu</a>
                            <div class="clearfix"></div>
                            {% block body %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </body>
    <script src="{{ asset('bundles/employee/bootstrap/js/bootstrap.min.js') }}"></script>
    {% block js %}
    {% endblock %}
</html>