{{ form_start(form) }}
{{ form_end(form) }}

<script>
    $('#{{ form.save.vars.id }}').off('click').on('click', function (e) {

        e.preventDefault();
        saveCompany($(this));
    });

</script>