{% extends "base.html.twig" %}

{% block heading %}
    Company Details
{% endblock %}

{% block subHeading %}
    List of Companies
{% endblock %}


{% block body %}

    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div id="form-div">
                    {% include 'EmployeeBundle:Company:form_content.html.twig' %}
                </div>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-9">
                <div id="list-div">
                    {% include 'EmployeeBundle:Company:list_content.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}

    <script>

        function saveCompany(element) {
            var form = $(element).closest('form');
           
            var data = $(form).serialize();
            
            var url = $(form).attr('action');
            $.ajax({
                type: 'POST',
                url: url,
                data: data,
                dataType: 'json',
                success: function (res) {
                    if (res.status === 'success') {
                        $('#form-div').html(res.formView);
                        $('#list-div').html(res.dataView);
                    } else {
                        $('#form-div').html(res.formView);
                    }
                },
                error: function (res) {
                    alert('Some error occued');
                    return false;
                }
            });
        }
    </script>
{% endblock %}