<table class="table table-striped table-hovered">
    <thead class="colored-table">
        <tr>
            <th>Company name</th>
            <th>Company address</th>
            <th>Serial number</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for company in companies %}
            <tr>
                <td>{{ company.name }}</td>
                <td>{{ company.address }}</td>
                <td>{{ company.serialNumber }}</td>
                <td>
                    <button class="btn btn-sm btn-primary editAction" data-id="{{ company.id }}">Edit</button>
                    <button class="btn btn-sm btn-warning deleteAction" data-id="{{ company.id }}">Delete</button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<script>

    $('.editAction').off('click').on('click', function (e) {


        var id = $(this).data('id');
        var url = '{{ path('company_edit') }}';
        var data = {'id': id};
        $.ajax({
            type: 'POST',
            url: url,
            data: data,
            dataType: 'json',
            success: function (res) {
                if (res.status === 'success') {
                    $('#form-div').html(res.formView);
                } else {
                    alert(res.msg);
                }
            },
            error: function (res) {
                alert('Error');
                return false;
            }
        });
    });

    $('.deleteAction').off('click').on('click', function (e) {

        var element = $(this);
        var id = $(element).data('id');
        var url = '{{ path('company_delete') }}';
        var data = {'id': id};
        $.ajax({
            type: 'POST',
            url: url,
            data: data,
            dataType: 'json',
            success: function (res) {
                if (res.status === 'success') {
                    $(element).closest('tr').remove();
                    alert('Company removed.');
                } else {
                    alert('Some error occured');
                }

            },
            error: function (res) {
                alert('Error');
                return false;
            }
        });
    });
</script>