{% extends "base.html.twig" %}

{% block heading %}
    Links To Project
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <ul>find, findOneBy, findBy, findAll
                    <li>
                        <a href="{{ path('country_queries') }}">Country Query</a>
                    </li>
                </ul>
                <ul>createQueryBuilder
                    <li>
                        <a href="{{ path('country_query_builder') }}">Country Query - QueryBuilder</a>
                    </li>
                </ul>
                <ul>Ajax submissions
                    <li>
                        <a href="{{ path('company_index') }}">Company List</a>
                    </li>
                </ul>
                <ul>submissions
                    <li>
                        <a href="{{ path('department_index') }}">Department List</a>
                    </li>
                </ul>
                <ul>Dynamic form
                    <li>
                        <a href="{{ path('customer_index') }}">Customer List</a>
                    </li>
                    <li>
                        <a href="{{ path('country_index') }}">Country List</a>
                    </li>
                    <li>
                        <a href="{{ path('state_index') }}">State List</a>
                    </li>
                </ul>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <ul>
                    <li>
                        <a href="{{ path('misc_service') }}">Service</a>
                    </li>
                    <li>
                        <a href="{{ path('misc_flash') }}">Flash Messages</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}