{% extends "base.html.twig" %}

{% block heading %}
    Flash Messages
{% endblock %}

{% block subHeading %}
    Set and show flash Messages
{% endblock %}


{% block body %}

    <h3>Steps</h3>
    <p>
        1. Set flash Bag
    </p>
    <pre>

        $this->addFlash(
                'notice', 'Your changes were saved!'
        );
        return $this->render('EmployeeBundle:Misc:flash_bag.html.twig');
    </pre>

    <p>
        2. Receive flashBag and show
    </p>
    <p>
        Symfony version < 3.3
    </p>
    <pre>
        read and display just one flash message type...

        { % for flash_message in app.session.flashBag.get('notice') %}
            <div class="flash-notice">
                { { flash_message }}
            </div>
        { % endfor %}

        read and display every flash message available 

        { % for type, flash_messages in app.session.flashBag.all %}
            { % for flash_message in flash_messages %}
                <div class="flash-{ { type }}">
                    { { flash_message }}
                </div>
            { % endfor %}
        { % endfor %}
    </pre>
    <p>
        Symfony version >= 3.3
    </p>
    <pre>

         read and display just one flash message type...

        { % for message in app.flashes('notice') %}
            <div class="flash-notice">
                { { message }}
            </div>
        { % endfor %}

        read and display every flash message available 

        { % for label, messages in app.flashes %}
            { % for message in messages %}
                <div class="flash-{ { label }}">
                    { { message }}
                </div>
            { % endfor %}
        { % endfor %}
    </pre>
{% endblock %}


