{% extends "base.html.twig" %}

{% block heading %}
    Custom Service
{% endblock %}

{% block subHeading %}
    Generation and call of custom service
{% endblock %}


{% block body %}

    <h3>Steps</h3>
    <p>
        1. Generate service action.
    </p>
    <pre>
        // src/AppBundle/Service/MessageGenerator.php
        namespace AppBundle\Service;

        class MessageGenerator
        {
            public function getHappyMessage()
            {
                $messages = [
                    'You did it! You updated the system! Amazing!',
                    'That was one of the coolest updates I\'ve seen all day!',
                    'Great work! Keep going!',
                ];

                $index = array_rand($messages);

                return $messages[$index];
            }
        }
    </pre>

    <p>
        2. Register service in the service.yml
    </p>

    <pre>
        services:
            employee.message:
                class: EmployeeBundle\Service\MessageGenerator
                arguments: []
    </pre>

    <p>
        3. Call service from wherever we need
    </p>
    <p>
        Calling from Controller 
    </p>

    <pre>
        $message = $this->container->get('employee.message')->getHappyMessage();
    </pre>

    <p>
        Calling from Twig
    </p>
    <ul>
        <li>
            To call service from twig we need to set the service a twig global variable
        </li>
        <pre>
            twig:
                globals:
                    your_service: "@your_service"
        </pre>
        <pre>
            twig:
                globals:
                    employeeService: "@employee.service"
        </pre>
        <li>
            Then call the function from twig
        </li>
        <pre>
            { % set message = employeeService.getHappyMessage() %}
        </pre>
    </ul>

{% endblock %}