{% extends "base.html.twig" %}

{% block heading %}
    State Details
{% endblock %}

{% block subHeading %}
    List of State
{% endblock %}


{% block body %}
    <table class="table table-striped table-hovered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Code</th>
                <th>Country</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for state in states %}
                <tr>
                    <td>{{ state.name }}</td>
                    <td>{{ state.code }}</td>
                    <td>{{ state.country.name }}</td>
                    <td>
                        <a class="btn btn-sm btn-primary" href="{{ path('state_edit', { 'id': state.id }) }}">Edit</a>
                        <a class="btn btn-sm btn-warning" href="{{ path('state_delete', { 'id': state.id }) }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-sm btn-success" href="{{ path('state_new') }}">Create a New State</a>
{% endblock %}
