{% extends "base.html.twig" %}

{% block heading %}
    State Details
{% endblock %}

{% block subHeading %}
    Create New State
{% endblock %}


{% block body %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input class="btn btn-sm btn-success" type="submit" value="Create" />
    <a class="btn btn-sm btn-default" href="{{ path('state_index') }}">Back to the list</a>
    {{ form_end(form) }}
{% endblock %}
